//@extend-elements
//original selectors
//.btn.btn-fab, .btn.btn-just-icon
%extend_1 {
	font-size: 24px;
	height: 41px;
	min-width: 41px;
	width: 41px;
	padding: 0;
	overflow: hidden;
	position: relative;
	line-height: 41px;
}

//original selectors
//.btn-group-sm .btn.btn-fab, .btn-group-sm .btn.btn-just-icon, .btn-group-sm >.btn.btn-fab, .btn-group-sm >.btn.btn-just-icon, .btn.btn-fab.btn-fab-mini, .btn.btn-fab.btn-sm, .btn.btn-just-icon.btn-fab-mini, .btn.btn-just-icon.btn-sm
%extend_2 {
	height: 30px;
	min-width: 30px;
	width: 30px;
}

//original selectors
//.btn-group-lg .btn.btn-fab, .btn-group-lg .btn.btn-just-icon, .btn-group-lg >.btn.btn-fab, .btn-group-lg >.btn.btn-just-icon, .btn.btn-fab.btn-lg, .btn.btn-just-icon.btn-lg
%extend_3 {
	height: 57px;
	min-width: 57px;
	width: 57px;
	line-height: 56px;
}

//original selectors
//.btn.btn-fab .fa, .btn.btn-fab .material-icons, .btn.btn-just-icon .fa, .btn.btn-just-icon .material-icons
%extend_4 {
	margin-top: 0;
	position: absolute;
	width: 100%;
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: none;
	left: 0;
	top: 0;
	height: 100%;
	line-height: 41px;
	font-size: 20px;
}

//original selectors
//.dark-edition .btn, .dark-edition .btn.btn-default
%extend_5 {
	color: $white;
	background-color: $color_manatee_approx;
	border-color: $color_manatee_approx;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 2px 2px 0 $color_manatee_14_approx,0 3px 1px -2px $color_manatee_20_approx,0 1px 5px 0 $color_manatee_12_approx;
}

//original selectors
//.dark-edition .btn.btn-default.focus, .dark-edition .btn.btn-default:focus, .dark-edition .btn.btn-default:hover, .dark-edition .btn.focus, .dark-edition .btn:focus, .dark-edition .btn:hover
%extend_6 {
	color: $white;
	background-color: $color_regent_gray_approx;
	border-color: $color_storm_gray_approx;
}

//original selectors
//.dark-edition .btn.active, .dark-edition .btn.btn-default.active, .dark-edition .btn.btn-default:active, .dark-edition .btn:active, .open >.dark-edition .btn.btn-default.dropdown-toggle, .open >.dark-edition .btn.dropdown-toggle, .show >.dark-edition .btn.btn-default.dropdown-toggle, .show >.dark-edition .btn.dropdown-toggle
%extend_7 {
	color: $white;
	background-color: $color_regent_gray_approx;
	border-color: $color_storm_gray_approx;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 2px 2px 0 $color_manatee_14_approx,0 3px 1px -2px $color_manatee_20_approx,0 1px 5px 0 $color_manatee_12_approx;
}

//original selectors
//.dark-edition .btn.active.focus, .dark-edition .btn.active:focus, .dark-edition .btn.active:hover, .dark-edition .btn.btn-default.active.focus, .dark-edition .btn.btn-default.active:focus, .dark-edition .btn.btn-default.active:hover, .dark-edition .btn.btn-default:active.focus, .dark-edition .btn.btn-default:active:focus, .dark-edition .btn.btn-default:active:hover, .dark-edition .btn:active.focus, .dark-edition .btn:active:focus, .dark-edition .btn:active:hover, .open >.dark-edition .btn.btn-default.dropdown-toggle.focus, .open >.dark-edition .btn.btn-default.dropdown-toggle:focus, .open >.dark-edition .btn.btn-default.dropdown-toggle:hover, .open >.dark-edition .btn.dropdown-toggle.focus, .open >.dark-edition .btn.dropdown-toggle:focus, .open >.dark-edition .btn.dropdown-toggle:hover, .show >.dark-edition .btn.btn-default.dropdown-toggle.focus, .show >.dark-edition .btn.btn-default.dropdown-toggle:focus, .show >.dark-edition .btn.btn-default.dropdown-toggle:hover, .show >.dark-edition .btn.dropdown-toggle.focus, .show >.dark-edition .btn.dropdown-toggle:focus, .show >.dark-edition .btn.dropdown-toggle:hover
%extend_8 {
	color: $white;
	background-color: $color_regent_gray_approx;
	border-color: $color_scarpa_flow_approx;
}

//original selectors
//.dark-edition .btn.btn-default.btn-link, .dark-edition .btn.btn-link
%extend_9 {
	background-color: transparent;
	color: $color_manatee_approx;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: none;
}

//original selectors
//.dark-edition .btn.btn-primary.focus, .dark-edition .btn.btn-primary:focus, .dark-edition .btn.btn-primary:hover
%extend_10 {
	color: $white;
	background-color: $color_vivid_violet_approx;
	border-color: $color_eminence_approx;
}

//original selectors
//.dark-edition .btn.btn-primary.active, .dark-edition .btn.btn-primary:active, .open >.dark-edition .btn.btn-primary.dropdown-toggle, .show >.dark-edition .btn.btn-primary.dropdown-toggle
%extend_11 {
	color: $white;
	background-color: $color_vivid_violet_approx;
	border-color: $color_eminence_approx;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 2px 2px 0 $color_vivid_violet_14_approx,0 3px 1px -2px $color_vivid_violet_20_approx,0 1px 5px 0 $color_vivid_violet_12_approx;
}

//original selectors
//.dark-edition .btn.btn-primary.active.focus, .dark-edition .btn.btn-primary.active:focus, .dark-edition .btn.btn-primary.active:hover, .dark-edition .btn.btn-primary:active.focus, .dark-edition .btn.btn-primary:active:focus, .dark-edition .btn.btn-primary:active:hover, .open >.dark-edition .btn.btn-primary.dropdown-toggle.focus, .open >.dark-edition .btn.btn-primary.dropdown-toggle:focus, .open >.dark-edition .btn.btn-primary.dropdown-toggle:hover, .show >.dark-edition .btn.btn-primary.dropdown-toggle.focus, .show >.dark-edition .btn.btn-primary.dropdown-toggle:focus, .show >.dark-edition .btn.btn-primary.dropdown-toggle:hover
%extend_12 {
	color: $white;
	background-color: $color_vivid_violet_approx;
	border-color: $color_grape_approx;
}

//original selectors
//.dark-edition .btn.btn-warning.focus, .dark-edition .btn.btn-warning:focus, .dark-edition .btn.btn-warning:hover
%extend_13 {
	color: $white;
	background-color: $color_christine_approx;
	border-color: $color_rose_of_sharon_approx;
}

//original selectors
//.dark-edition .btn.btn-warning.active, .dark-edition .btn.btn-warning:active, .open >.dark-edition .btn.btn-warning.dropdown-toggle, .show >.dark-edition .btn.btn-warning.dropdown-toggle
%extend_14 {
	color: $white;
	background-color: $color_christine_approx;
	border-color: $color_rose_of_sharon_approx;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 2px 2px 0 $color_chilean_fire_14_approx,0 3px 1px -2px $color_chilean_fire_20_approx,0 1px 5px 0 $color_chilean_fire_12_approx;
}

//original selectors
//.dark-edition .btn.btn-warning.active.focus, .dark-edition .btn.btn-warning.active:focus, .dark-edition .btn.btn-warning.active:hover, .dark-edition .btn.btn-warning:active.focus, .dark-edition .btn.btn-warning:active:focus, .dark-edition .btn.btn-warning:active:hover, .open >.dark-edition .btn.btn-warning.dropdown-toggle.focus, .open >.dark-edition .btn.btn-warning.dropdown-toggle:focus, .open >.dark-edition .btn.btn-warning.dropdown-toggle:hover, .show >.dark-edition .btn.btn-warning.dropdown-toggle.focus, .show >.dark-edition .btn.btn-warning.dropdown-toggle:focus, .show >.dark-edition .btn.btn-warning.dropdown-toggle:hover
%extend_15 {
	color: $white;
	background-color: $color_christine_approx;
	border-color: $color_red_beech_approx;
}

//original selectors
//.dark-edition .btn.btn-success.focus, .dark-edition .btn.btn-success:focus, .dark-edition .btn.btn-success:hover
%extend_16 {
	color: $white;
	background-color: $color_lochinvar_approx;
	border-color: $color_green_pea_approx;
}

//original selectors
//.dark-edition .btn.btn-success.active, .dark-edition .btn.btn-success:active, .open >.dark-edition .btn.btn-success.dropdown-toggle, .show >.dark-edition .btn.btn-success.dropdown-toggle
%extend_17 {
	color: $white;
	background-color: $color_lochinvar_approx;
	border-color: $color_green_pea_approx;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 2px 2px 0 $color_eucalyptus_14_approx,0 3px 1px -2px $color_eucalyptus_20_approx,0 1px 5px 0 $color_eucalyptus_12_approx;
}

//original selectors
//.dark-edition .btn.btn-success.active.focus, .dark-edition .btn.btn-success.active:focus, .dark-edition .btn.btn-success.active:hover, .dark-edition .btn.btn-success:active.focus, .dark-edition .btn.btn-success:active:focus, .dark-edition .btn.btn-success:active:hover, .open >.dark-edition .btn.btn-success.dropdown-toggle.focus, .open >.dark-edition .btn.btn-success.dropdown-toggle:focus, .open >.dark-edition .btn.btn-success.dropdown-toggle:hover, .show >.dark-edition .btn.btn-success.dropdown-toggle.focus, .show >.dark-edition .btn.btn-success.dropdown-toggle:focus, .show >.dark-edition .btn.btn-success.dropdown-toggle:hover
%extend_18 {
	color: $white;
	background-color: $color_lochinvar_approx;
	border-color: $color_bush_approx;
}

//original selectors
//.dark-edition .btn.btn-danger.focus, .dark-edition .btn.btn-danger:focus, .dark-edition .btn.btn-danger:hover
%extend_19 {
	color: $white;
	background-color: $color_alizarin_crimson_approx;
	border-color: $color_scarlet_approx;
}

//original selectors
//.dark-edition .btn.btn-danger.active, .dark-edition .btn.btn-danger:active, .open >.dark-edition .btn.btn-danger.dropdown-toggle, .show >.dark-edition .btn.btn-danger.dropdown-toggle
%extend_20 {
	color: $white;
	background-color: $color_alizarin_crimson_approx;
	border-color: $color_scarlet_approx;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 2px 2px 0 $color_persian_red_14_approx,0 3px 1px -2px $color_persian_red_20_approx,0 1px 5px 0 $color_persian_red_12_approx;
}

//original selectors
//.dark-edition .btn.btn-danger.active.focus, .dark-edition .btn.btn-danger.active:focus, .dark-edition .btn.btn-danger.active:hover, .dark-edition .btn.btn-danger:active.focus, .dark-edition .btn.btn-danger:active:focus, .dark-edition .btn.btn-danger:active:hover, .open >.dark-edition .btn.btn-danger.dropdown-toggle.focus, .open >.dark-edition .btn.btn-danger.dropdown-toggle:focus, .open >.dark-edition .btn.btn-danger.dropdown-toggle:hover, .show >.dark-edition .btn.btn-danger.dropdown-toggle.focus, .show >.dark-edition .btn.btn-danger.dropdown-toggle:focus, .show >.dark-edition .btn.btn-danger.dropdown-toggle:hover
%extend_21 {
	color: $white;
	background-color: $color_alizarin_crimson_approx;
	border-color: $color_totem_pole_approx;
}

//original selectors
//.dark-edition .btn.btn-info.focus, .dark-edition .btn.btn-info:focus, .dark-edition .btn.btn-info:hover
%extend_22 {
	color: $white;
	background-color: $color_bondi_blue_approx;
	border-color: $color_mosque_approx;
}

//original selectors
//.dark-edition .btn.btn-info.active, .dark-edition .btn.btn-info:active, .open >.dark-edition .btn.btn-info.dropdown-toggle, .show >.dark-edition .btn.btn-info.dropdown-toggle
%extend_23 {
	color: $white;
	background-color: $color_bondi_blue_approx;
	border-color: $color_mosque_approx;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 2px 2px 0 $color_bondi_blue_14_approx,0 3px 1px -2px $color_bondi_blue_20_approx,0 1px 5px 0 $color_bondi_blue_12_approx;
}

//original selectors
//.dark-edition .btn.btn-info.active.focus, .dark-edition .btn.btn-info.active:focus, .dark-edition .btn.btn-info.active:hover, .dark-edition .btn.btn-info:active.focus, .dark-edition .btn.btn-info:active:focus, .dark-edition .btn.btn-info:active:hover, .open >.dark-edition .btn.btn-info.dropdown-toggle.focus, .open >.dark-edition .btn.btn-info.dropdown-toggle:focus, .open >.dark-edition .btn.btn-info.dropdown-toggle:hover, .show >.dark-edition .btn.btn-info.dropdown-toggle.focus, .show >.dark-edition .btn.btn-info.dropdown-toggle:focus, .show >.dark-edition .btn.btn-info.dropdown-toggle:hover
%extend_24 {
	color: $white;
	background-color: $color_bondi_blue_approx;
	border-color: $color_daintree_approx;
}

//original selectors
//.dark-edition .btn.btn-white.focus, .dark-edition .btn.btn-white:focus, .dark-edition .btn.btn-white:hover
%extend_25 {
	color: $color_manatee_approx;
	background-color: $color_black_haze_approx;
	border-color: $color_bon_jour_approx;
}

//original selectors
//.dark-edition .btn.btn-white.active, .dark-edition .btn.btn-white:active, .open >.dark-edition .btn.btn-white.dropdown-toggle, .show >.dark-edition .btn.btn-white.dropdown-toggle
%extend_26 {
	color: $color_manatee_approx;
	background-color: $color_black_haze_approx;
	border-color: $color_bon_jour_approx;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 2px 2px 0 $white_14,0 3px 1px -2px $white_20,0 1px 5px 0 $white_12;
}

//original selectors
//.dark-edition .btn.btn-white.active.focus, .dark-edition .btn.btn-white.active:focus, .dark-edition .btn.btn-white.active:hover, .dark-edition .btn.btn-white:active.focus, .dark-edition .btn.btn-white:active:focus, .dark-edition .btn.btn-white:active:hover, .open >.dark-edition .btn.btn-white.dropdown-toggle.focus, .open >.dark-edition .btn.btn-white.dropdown-toggle:focus, .open >.dark-edition .btn.btn-white.dropdown-toggle:hover, .show >.dark-edition .btn.btn-white.dropdown-toggle.focus, .show >.dark-edition .btn.btn-white.dropdown-toggle:focus, .show >.dark-edition .btn.btn-white.dropdown-toggle:hover
%extend_27 {
	color: $color_manatee_approx;
	background-color: $color_black_haze_approx;
	border-color: $color_silver_approx;
}

//original selectors
//.dark-edition .btn.btn-facebook.focus, .dark-edition .btn.btn-facebook:focus, .dark-edition .btn.btn-facebook:hover
%extend_28 {
	color: $white;
	background-color: $color_chambray_approx;
	border-color: $color_rhino_approx;
}

//original selectors
//.dark-edition .btn.btn-facebook.active, .dark-edition .btn.btn-facebook:active, .open >.dark-edition .btn.btn-facebook.dropdown-toggle, .show >.dark-edition .btn.btn-facebook.dropdown-toggle
%extend_29 {
	color: $white;
	background-color: $color_chambray_approx;
	border-color: $color_rhino_approx;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 2px 2px 0 $color_azure_14_approx,0 3px 1px -2px $color_azure_20_approx,0 1px 5px 0 $color_azure_12_approx;
}

//original selectors
//.dark-edition .btn.btn-facebook.active.focus, .dark-edition .btn.btn-facebook.active:focus, .dark-edition .btn.btn-facebook.active:hover, .dark-edition .btn.btn-facebook:active.focus, .dark-edition .btn.btn-facebook:active:focus, .dark-edition .btn.btn-facebook:active:hover, .open >.dark-edition .btn.btn-facebook.dropdown-toggle.focus, .open >.dark-edition .btn.btn-facebook.dropdown-toggle:focus, .open >.dark-edition .btn.btn-facebook.dropdown-toggle:hover, .show >.dark-edition .btn.btn-facebook.dropdown-toggle.focus, .show >.dark-edition .btn.btn-facebook.dropdown-toggle:focus, .show >.dark-edition .btn.btn-facebook.dropdown-toggle:hover
%extend_30 {
	color: $white;
	background-color: $color_chambray_approx;
	border-color: $color_big_stone_approx;
}

//original selectors
//.dark-edition .btn.btn-twitter.focus, .dark-edition .btn.btn-twitter:focus, .dark-edition .btn.btn-twitter:hover
%extend_31 {
	color: $white;
	background-color: $color_picton_blue_approx;
	border-color: $color_dodger_blue_approx;
}

//original selectors
//.dark-edition .btn.btn-twitter.active, .dark-edition .btn.btn-twitter:active, .open >.dark-edition .btn.btn-twitter.dropdown-toggle, .show >.dark-edition .btn.btn-twitter.dropdown-toggle
%extend_32 {
	color: $white;
	background-color: $color_picton_blue_approx;
	border-color: $color_dodger_blue_approx;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 2px 2px 0 $color_picton_blue_14_approx,0 3px 1px -2px $color_picton_blue_20_approx,0 1px 5px 0 $color_picton_blue_12_approx;
}

//original selectors
//.dark-edition .btn.btn-twitter.active.focus, .dark-edition .btn.btn-twitter.active:focus, .dark-edition .btn.btn-twitter.active:hover, .dark-edition .btn.btn-twitter:active.focus, .dark-edition .btn.btn-twitter:active:focus, .dark-edition .btn.btn-twitter:active:hover, .open >.dark-edition .btn.btn-twitter.dropdown-toggle.focus, .open >.dark-edition .btn.btn-twitter.dropdown-toggle:focus, .open >.dark-edition .btn.btn-twitter.dropdown-toggle:hover, .show >.dark-edition .btn.btn-twitter.dropdown-toggle.focus, .show >.dark-edition .btn.btn-twitter.dropdown-toggle:focus, .show >.dark-edition .btn.btn-twitter.dropdown-toggle:hover
%extend_33 {
	color: $white;
	background-color: $color_picton_blue_approx;
	border-color: $color_denim_approx;
}


.btn {
	&.btn-round {
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 30px;
	}
	&.btn-fab {
		@extend %extend_1;
		&.btn-round {
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 50%;
		}
		&.btn-fab-mini {
			@extend %extend_2;
			.fa {
				font-size: 17px;
				line-height: 29px;
			}
			.material-icons {
				font-size: 17px;
				line-height: 29px;
			}
		}
		&.btn-sm {
			@extend %extend_2;
			.fa {
				font-size: 17px;
				line-height: 29px;
			}
			.material-icons {
				font-size: 17px;
				line-height: 29px;
			}
		}
		&.btn-lg {
			@extend %extend_3;
			.fa {
				font-size: 32px;
				line-height: 56px;
			}
			.material-icons {
				font-size: 32px;
				line-height: 56px;
			}
		}
		.fa {
			@extend %extend_4;
		}
		.material-icons {
			@extend %extend_4;
		}
	}
	&.btn-just-icon {
		@extend %extend_1;
		&.btn-round {
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 50%;
		}
		&.btn-fab-mini {
			@extend %extend_2;
			.fa {
				font-size: 17px;
				line-height: 29px;
			}
			.material-icons {
				font-size: 17px;
				line-height: 29px;
			}
		}
		&.btn-sm {
			@extend %extend_2;
			.fa {
				font-size: 17px;
				line-height: 29px;
			}
			.material-icons {
				font-size: 17px;
				line-height: 29px;
			}
		}
		&.btn-lg {
			@extend %extend_3;
			.fa {
				font-size: 32px;
				line-height: 56px;
			}
			.material-icons {
				font-size: 32px;
				line-height: 56px;
			}
		}
		.fa {
			@extend %extend_4;
		}
		.material-icons {
			@extend %extend_4;
		}
	}
}
.btn-group-sm {
	.btn {
		&.btn-fab {
			@extend %extend_2;
			.fa {
				font-size: 17px;
				line-height: 29px;
			}
			.material-icons {
				font-size: 17px;
				line-height: 29px;
			}
		}
		&.btn-just-icon {
			@extend %extend_2;
			.fa {
				font-size: 17px;
				line-height: 29px;
			}
			.material-icons {
				font-size: 17px;
				line-height: 29px;
			}
		}
	}
	> .btn {
		&.btn-fab {
			@extend %extend_2;
			.fa {
				font-size: 17px;
				line-height: 29px;
			}
			.material-icons {
				font-size: 17px;
				line-height: 29px;
			}
		}
		&.btn-just-icon {
			@extend %extend_2;
			.fa {
				font-size: 17px;
				line-height: 29px;
			}
			.material-icons {
				font-size: 17px;
				line-height: 29px;
			}
		}
	}
}
.btn-group-lg {
	.btn {
		&.btn-fab {
			@extend %extend_3;
			.fa {
				font-size: 32px;
				line-height: 56px;
			}
			.material-icons {
				font-size: 32px;
				line-height: 56px;
			}
		}
		&.btn-just-icon {
			@extend %extend_3;
			.fa {
				font-size: 32px;
				line-height: 56px;
			}
			.material-icons {
				font-size: 32px;
				line-height: 56px;
			}
		}
	}
	> .btn {
		&.btn-fab {
			@extend %extend_3;
			.fa {
				font-size: 32px;
				line-height: 56px;
			}
			.material-icons {
				font-size: 32px;
				line-height: 56px;
			}
		}
		&.btn-just-icon {
			@extend %extend_3;
			.fa {
				font-size: 32px;
				line-height: 56px;
			}
			.material-icons {
				font-size: 32px;
				line-height: 56px;
			}
		}
	}
}
.dark-edition {
	background-color: $color_steel_gray_approx;
	.btn {
		@extend %extend_5;
		&.btn-default {
			@extend %extend_5;
			&.focus {
				@extend %extend_6;
			}
			&:focus {
				@extend %extend_6;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: 0 14px 26px -12px $color_manatee_42_approx,0 4px 23px 0 $black_12,0 8px 10px -5px $color_manatee_20_approx;
			}
			&:hover {
				@extend %extend_6;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: 0 14px 26px -12px $color_manatee_42_approx,0 4px 23px 0 $black_12,0 8px 10px -5px $color_manatee_20_approx;
			}
			&.active {
				@extend %extend_7;
				&.focus {
					@extend %extend_8;
				}
				&:focus {
					@extend %extend_8;
				}
				&:hover {
					@extend %extend_8;
				}
			}
			&:active {
				@extend %extend_7;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: 0 14px 26px -12px $color_manatee_42_approx,0 4px 23px 0 $black_12,0 8px 10px -5px $color_manatee_20_approx;
				&.focus {
					@extend %extend_8;
				}
				&:focus {
					@extend %extend_8;
				}
				&:hover {
					@extend %extend_8;
				}
			}
			&.disabled {
				&.focus {
					background-color: $color_manatee_approx;
					border-color: $color_manatee_approx;
				}
				&:focus {
					background-color: $color_manatee_approx;
					border-color: $color_manatee_approx;
				}
				&:hover {
					background-color: $color_manatee_approx;
					border-color: $color_manatee_approx;
				}
			}
			&:disabled {
				&.focus {
					background-color: $color_manatee_approx;
					border-color: $color_manatee_approx;
				}
				&:focus {
					background-color: $color_manatee_approx;
					border-color: $color_manatee_approx;
				}
				&:hover {
					background-color: $color_manatee_approx;
					border-color: $color_manatee_approx;
				}
			}
			&.btn-link {
				@extend %extend_9;
				&:active {
					background-color: transparent;
					color: $color_manatee_approx;
				}
				&:focus {
					background-color: transparent;
					color: $color_manatee_approx;
				}
				&:hover {
					background-color: transparent;
					color: $color_manatee_approx;
				}
			}
		}
		&.focus {
			@extend %extend_6;
		}
		&:focus {
			@extend %extend_6;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: 0 14px 26px -12px $color_manatee_42_approx,0 4px 23px 0 $black_12,0 8px 10px -5px $color_manatee_20_approx;
		}
		&:hover {
			@extend %extend_6;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: 0 14px 26px -12px $color_manatee_42_approx,0 4px 23px 0 $black_12,0 8px 10px -5px $color_manatee_20_approx;
		}
		&.active {
			@extend %extend_7;
			&.focus {
				@extend %extend_8;
			}
			&:focus {
				@extend %extend_8;
			}
			&:hover {
				@extend %extend_8;
			}
		}
		&:active {
			@extend %extend_7;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: 0 14px 26px -12px $color_manatee_42_approx,0 4px 23px 0 $black_12,0 8px 10px -5px $color_manatee_20_approx;
			&.focus {
				@extend %extend_8;
			}
			&:focus {
				@extend %extend_8;
			}
			&:hover {
				@extend %extend_8;
			}
		}
		&.disabled {
			&.focus {
				background-color: $color_manatee_approx;
				border-color: $color_manatee_approx;
			}
			&:focus {
				background-color: $color_manatee_approx;
				border-color: $color_manatee_approx;
			}
			&:hover {
				background-color: $color_manatee_approx;
				border-color: $color_manatee_approx;
			}
		}
		&:disabled {
			&.focus {
				background-color: $color_manatee_approx;
				border-color: $color_manatee_approx;
			}
			&:focus {
				background-color: $color_manatee_approx;
				border-color: $color_manatee_approx;
			}
			&:hover {
				background-color: $color_manatee_approx;
				border-color: $color_manatee_approx;
			}
		}
		&.btn-link {
			@extend %extend_9;
			&:active {
				background-color: transparent;
				color: $color_manatee_approx;
			}
			&:focus {
				background-color: transparent;
				color: $color_manatee_approx;
			}
			&:hover {
				background-color: transparent;
				color: $color_manatee_approx;
			}
		}
		&.btn-primary {
			color: $white;
			background-color: $color_vivid_violet_approx;
			border-color: $color_vivid_violet_approx;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: 0 2px 2px 0 $color_vivid_violet_14_approx,0 3px 1px -2px $color_vivid_violet_20_approx,0 1px 5px 0 $color_vivid_violet_12_approx;
			&.focus {
				@extend %extend_10;
			}
			&:focus {
				@extend %extend_10;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: 0 14px 26px -12px $color_vivid_violet_42_approx,0 4px 23px 0 $black_12,0 8px 10px -5px $color_vivid_violet_20_approx;
			}
			&:hover {
				@extend %extend_10;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: 0 14px 26px -12px $color_vivid_violet_42_approx,0 4px 23px 0 $black_12,0 8px 10px -5px $color_vivid_violet_20_approx;
			}
			&.active {
				@extend %extend_11;
				&.focus {
					@extend %extend_12;
				}
				&:focus {
					@extend %extend_12;
				}
				&:hover {
					@extend %extend_12;
				}
			}
			&:active {
				@extend %extend_11;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: 0 14px 26px -12px $color_vivid_violet_42_approx,0 4px 23px 0 $black_12,0 8px 10px -5px $color_vivid_violet_20_approx;
				&.focus {
					@extend %extend_12;
				}
				&:focus {
					@extend %extend_12;
				}
				&:hover {
					@extend %extend_12;
				}
			}
			&.disabled {
				&.focus {
					background-color: $color_vivid_violet_approx;
					border-color: $color_vivid_violet_approx;
				}
				&:focus {
					background-color: $color_vivid_violet_approx;
					border-color: $color_vivid_violet_approx;
				}
				&:hover {
					background-color: $color_vivid_violet_approx;
					border-color: $color_vivid_violet_approx;
				}
			}
			&:disabled {
				&.focus {
					background-color: $color_vivid_violet_approx;
					border-color: $color_vivid_violet_approx;
				}
				&:focus {
					background-color: $color_vivid_violet_approx;
					border-color: $color_vivid_violet_approx;
				}
				&:hover {
					background-color: $color_vivid_violet_approx;
					border-color: $color_vivid_violet_approx;
				}
			}
			&.btn-link {
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: none;
				background-color: transparent;
				color: $color_vivid_violet_approx;
				&:active {
					background-color: transparent;
					color: $color_vivid_violet_approx;
				}
				&:focus {
					background-color: transparent;
					color: $color_vivid_violet_approx;
				}
				&:hover {
					background-color: transparent;
					color: $color_vivid_violet_approx;
				}
			}
		}
		&.btn-warning {
			color: $white;
			background-color: $color_chilean_fire_approx;
			border-color: $color_chilean_fire_approx;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: 0 2px 2px 0 $color_chilean_fire_14_approx,0 3px 1px -2px $color_chilean_fire_20_approx,0 1px 5px 0 $color_chilean_fire_12_approx;
			&.focus {
				@extend %extend_13;
			}
			&:focus {
				@extend %extend_13;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: 0 14px 26px -12px $color_chilean_fire_42_approx,0 4px 23px 0 $black_12,0 8px 10px -5px $color_chilean_fire_20_approx;
			}
			&:hover {
				@extend %extend_13;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: 0 14px 26px -12px $color_chilean_fire_42_approx,0 4px 23px 0 $black_12,0 8px 10px -5px $color_chilean_fire_20_approx;
			}
			&.active {
				@extend %extend_14;
				&.focus {
					@extend %extend_15;
				}
				&:focus {
					@extend %extend_15;
				}
				&:hover {
					@extend %extend_15;
				}
			}
			&:active {
				@extend %extend_14;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: 0 14px 26px -12px $color_chilean_fire_42_approx,0 4px 23px 0 $black_12,0 8px 10px -5px $color_chilean_fire_20_approx;
				&.focus {
					@extend %extend_15;
				}
				&:focus {
					@extend %extend_15;
				}
				&:hover {
					@extend %extend_15;
				}
			}
			&.disabled {
				&.focus {
					background-color: $color_chilean_fire_approx;
					border-color: $color_chilean_fire_approx;
				}
				&:focus {
					background-color: $color_chilean_fire_approx;
					border-color: $color_chilean_fire_approx;
				}
				&:hover {
					background-color: $color_chilean_fire_approx;
					border-color: $color_chilean_fire_approx;
				}
			}
			&:disabled {
				&.focus {
					background-color: $color_chilean_fire_approx;
					border-color: $color_chilean_fire_approx;
				}
				&:focus {
					background-color: $color_chilean_fire_approx;
					border-color: $color_chilean_fire_approx;
				}
				&:hover {
					background-color: $color_chilean_fire_approx;
					border-color: $color_chilean_fire_approx;
				}
			}
			&.btn-link {
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: none;
				background-color: transparent;
				color: $color_chilean_fire_approx;
				&:active {
					background-color: transparent;
					color: $color_chilean_fire_approx;
				}
				&:focus {
					background-color: transparent;
					color: $color_chilean_fire_approx;
				}
				&:hover {
					background-color: transparent;
					color: $color_chilean_fire_approx;
				}
			}
		}
		&.btn-success {
			color: $white;
			background-color: $color_eucalyptus_approx;
			border-color: $color_eucalyptus_approx;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: 0 2px 2px 0 $color_eucalyptus_14_approx,0 3px 1px -2px $color_eucalyptus_20_approx,0 1px 5px 0 $color_eucalyptus_12_approx;
			&.focus {
				@extend %extend_16;
			}
			&:focus {
				@extend %extend_16;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: 0 14px 26px -12px $color_eucalyptus_42_approx,0 4px 23px 0 $black_12,0 8px 10px -5px $color_eucalyptus_20_approx;
			}
			&:hover {
				@extend %extend_16;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: 0 14px 26px -12px $color_eucalyptus_42_approx,0 4px 23px 0 $black_12,0 8px 10px -5px $color_eucalyptus_20_approx;
			}
			&.active {
				@extend %extend_17;
				&.focus {
					@extend %extend_18;
				}
				&:focus {
					@extend %extend_18;
				}
				&:hover {
					@extend %extend_18;
				}
			}
			&:active {
				@extend %extend_17;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: 0 14px 26px -12px $color_eucalyptus_42_approx,0 4px 23px 0 $black_12,0 8px 10px -5px $color_eucalyptus_20_approx;
				&.focus {
					@extend %extend_18;
				}
				&:focus {
					@extend %extend_18;
				}
				&:hover {
					@extend %extend_18;
				}
			}
			&.disabled {
				&.focus {
					background-color: $color_eucalyptus_approx;
					border-color: $color_eucalyptus_approx;
				}
				&:focus {
					background-color: $color_eucalyptus_approx;
					border-color: $color_eucalyptus_approx;
				}
				&:hover {
					background-color: $color_eucalyptus_approx;
					border-color: $color_eucalyptus_approx;
				}
			}
			&:disabled {
				&.focus {
					background-color: $color_eucalyptus_approx;
					border-color: $color_eucalyptus_approx;
				}
				&:focus {
					background-color: $color_eucalyptus_approx;
					border-color: $color_eucalyptus_approx;
				}
				&:hover {
					background-color: $color_eucalyptus_approx;
					border-color: $color_eucalyptus_approx;
				}
			}
			&.btn-link {
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: none;
				background-color: transparent;
				color: $color_eucalyptus_approx;
				&:active {
					background-color: transparent;
					color: $color_eucalyptus_approx;
				}
				&:focus {
					background-color: transparent;
					color: $color_eucalyptus_approx;
				}
				&:hover {
					background-color: transparent;
					color: $color_eucalyptus_approx;
				}
			}
		}
		&.btn-danger {
			color: $white;
			background-color: $color_persian_red_approx;
			border-color: $color_red_orange_approx;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: 0 2px 2px 0 $color_persian_red_14_approx,0 3px 1px -2px $color_persian_red_20_approx,0 1px 5px 0 $color_persian_red_12_approx;
			&.focus {
				@extend %extend_19;
			}
			&:focus {
				@extend %extend_19;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: 0 14px 26px -12px $color_persian_red_42_approx,0 4px 23px 0 $black_12,0 8px 10px -5px $color_persian_red_20_approx;
			}
			&:hover {
				@extend %extend_19;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: 0 14px 26px -12px $color_persian_red_42_approx,0 4px 23px 0 $black_12,0 8px 10px -5px $color_persian_red_20_approx;
			}
			&.active {
				@extend %extend_20;
				&.focus {
					@extend %extend_21;
				}
				&:focus {
					@extend %extend_21;
				}
				&:hover {
					@extend %extend_21;
				}
			}
			&:active {
				@extend %extend_20;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: 0 14px 26px -12px $color_persian_red_42_approx,0 4px 23px 0 $black_12,0 8px 10px -5px $color_persian_red_20_approx;
				&.focus {
					@extend %extend_21;
				}
				&:focus {
					@extend %extend_21;
				}
				&:hover {
					@extend %extend_21;
				}
			}
			&.disabled {
				&.focus {
					background-color: $color_persian_red_approx;
					border-color: $color_red_orange_approx;
				}
				&:focus {
					background-color: $color_persian_red_approx;
					border-color: $color_red_orange_approx;
				}
				&:hover {
					background-color: $color_persian_red_approx;
					border-color: $color_red_orange_approx;
				}
			}
			&:disabled {
				&.focus {
					background-color: $color_persian_red_approx;
					border-color: $color_red_orange_approx;
				}
				&:focus {
					background-color: $color_persian_red_approx;
					border-color: $color_red_orange_approx;
				}
				&:hover {
					background-color: $color_persian_red_approx;
					border-color: $color_red_orange_approx;
				}
			}
			&.btn-link {
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: none;
				background-color: transparent;
				color: $color_persian_red_approx;
				&:active {
					background-color: transparent;
					color: $color_persian_red_approx;
				}
				&:focus {
					background-color: transparent;
					color: $color_persian_red_approx;
				}
				&:hover {
					background-color: transparent;
					color: $color_persian_red_approx;
				}
			}
		}
		&.btn-info {
			color: $white;
			background-color: $color_bondi_blue_approx;
			border-color: $color_bondi_blue_approx;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: 0 2px 2px 0 $color_bondi_blue_14_approx,0 3px 1px -2px $color_bondi_blue_20_approx,0 1px 5px 0 $color_bondi_blue_12_approx;
			&.focus {
				@extend %extend_22;
			}
			&:focus {
				@extend %extend_22;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: 0 14px 26px -12px $color_bondi_blue_42_approx,0 4px 23px 0 $black_12,0 8px 10px -5px $color_bondi_blue_20_approx;
			}
			&:hover {
				@extend %extend_22;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: 0 14px 26px -12px $color_bondi_blue_42_approx,0 4px 23px 0 $black_12,0 8px 10px -5px $color_bondi_blue_20_approx;
			}
			&.active {
				@extend %extend_23;
				&.focus {
					@extend %extend_24;
				}
				&:focus {
					@extend %extend_24;
				}
				&:hover {
					@extend %extend_24;
				}
			}
			&:active {
				@extend %extend_23;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: 0 14px 26px -12px $color_bondi_blue_42_approx,0 4px 23px 0 $black_12,0 8px 10px -5px $color_bondi_blue_20_approx;
				&.focus {
					@extend %extend_24;
				}
				&:focus {
					@extend %extend_24;
				}
				&:hover {
					@extend %extend_24;
				}
			}
			&.disabled {
				&.focus {
					background-color: $color_bondi_blue_approx;
					border-color: $color_bondi_blue_approx;
				}
				&:focus {
					background-color: $color_bondi_blue_approx;
					border-color: $color_bondi_blue_approx;
				}
				&:hover {
					background-color: $color_bondi_blue_approx;
					border-color: $color_bondi_blue_approx;
				}
			}
			&:disabled {
				&.focus {
					background-color: $color_bondi_blue_approx;
					border-color: $color_bondi_blue_approx;
				}
				&:focus {
					background-color: $color_bondi_blue_approx;
					border-color: $color_bondi_blue_approx;
				}
				&:hover {
					background-color: $color_bondi_blue_approx;
					border-color: $color_bondi_blue_approx;
				}
			}
			&.btn-link {
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: none;
				background-color: transparent;
				color: $color_bondi_blue_approx;
				&:active {
					background-color: transparent;
					color: $color_bondi_blue_approx;
				}
				&:focus {
					background-color: transparent;
					color: $color_bondi_blue_approx;
				}
				&:hover {
					background-color: transparent;
					color: $color_bondi_blue_approx;
				}
			}
		}
		&.btn-white {
			color: $color_manatee_approx;
			background-color: $white;
			border-color: $white;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: 0 2px 2px 0 $white_14,0 3px 1px -2px $white_20,0 1px 5px 0 $white_12;
			&.focus {
				@extend %extend_25;
			}
			&:focus {
				@extend %extend_25;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: 0 14px 26px -12px $white_42,0 4px 23px 0 $black_12,0 8px 10px -5px $white_20;
			}
			&:hover {
				@extend %extend_25;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: 0 14px 26px -12px $white_42,0 4px 23px 0 $black_12,0 8px 10px -5px $white_20;
			}
			&.active {
				@extend %extend_26;
				&.focus {
					@extend %extend_27;
				}
				&:focus {
					@extend %extend_27;
				}
				&:hover {
					@extend %extend_27;
				}
			}
			&:active {
				@extend %extend_26;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: 0 14px 26px -12px $white_42,0 4px 23px 0 $black_12,0 8px 10px -5px $white_20;
				&.focus {
					@extend %extend_27;
				}
				&:focus {
					@extend %extend_27;
				}
				&:hover {
					@extend %extend_27;
				}
			}
			&.disabled {
				&.focus {
					background-color: $white;
					border-color: $white;
				}
				&:focus {
					background-color: $white;
					border-color: $white;
				}
				&:hover {
					background-color: $white;
					border-color: $white;
				}
			}
			&:disabled {
				&.focus {
					background-color: $white;
					border-color: $white;
				}
				&:focus {
					background-color: $white;
					border-color: $white;
				}
				&:hover {
					background-color: $white;
					border-color: $white;
				}
			}
			&.btn-link {
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: none;
				background-color: transparent;
				color: $white;
				&:active {
					background-color: transparent;
					color: $white;
				}
				&:focus {
					background-color: transparent;
					color: $white;
				}
				&:hover {
					background-color: transparent;
					color: $white;
				}
			}
		}
		&.btn-facebook {
			color: $white;
			background-color: $color_azure_approx;
			border-color: $color_azure_approx;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: 0 2px 2px 0 $color_azure_14_approx,0 3px 1px -2px $color_azure_20_approx,0 1px 5px 0 $color_azure_12_approx;
			&.focus {
				@extend %extend_28;
			}
			&:focus {
				@extend %extend_28;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: 0 14px 26px -12px $color_azure_42_approx,0 4px 23px 0 $black_12,0 8px 10px -5px $color_azure_20_approx;
			}
			&:hover {
				@extend %extend_28;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: 0 14px 26px -12px $color_azure_42_approx,0 4px 23px 0 $black_12,0 8px 10px -5px $color_azure_20_approx;
			}
			&.active {
				@extend %extend_29;
				&.focus {
					@extend %extend_30;
				}
				&:focus {
					@extend %extend_30;
				}
				&:hover {
					@extend %extend_30;
				}
			}
			&:active {
				@extend %extend_29;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: 0 14px 26px -12px $color_azure_42_approx,0 4px 23px 0 $black_12,0 8px 10px -5px $color_azure_20_approx;
				&.focus {
					@extend %extend_30;
				}
				&:focus {
					@extend %extend_30;
				}
				&:hover {
					@extend %extend_30;
				}
			}
			&.disabled {
				&.focus {
					background-color: $color_azure_approx;
					border-color: $color_azure_approx;
				}
				&:focus {
					background-color: $color_azure_approx;
					border-color: $color_azure_approx;
				}
				&:hover {
					background-color: $color_azure_approx;
					border-color: $color_azure_approx;
				}
			}
			&:disabled {
				&.focus {
					background-color: $color_azure_approx;
					border-color: $color_azure_approx;
				}
				&:focus {
					background-color: $color_azure_approx;
					border-color: $color_azure_approx;
				}
				&:hover {
					background-color: $color_azure_approx;
					border-color: $color_azure_approx;
				}
			}
			&.btn-link {
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: none;
				background-color: transparent;
				color: $color_azure_approx;
				&:active {
					background-color: transparent;
					color: $color_azure_approx;
				}
				&:focus {
					background-color: transparent;
					color: $color_azure_approx;
				}
				&:hover {
					background-color: transparent;
					color: $color_azure_approx;
				}
			}
		}
		&.btn-twitter {
			color: $white;
			background-color: $color_picton_blue_approx;
			border-color: $color_picton_blue_approx;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: 0 2px 2px 0 $color_picton_blue_14_approx,0 3px 1px -2px $color_picton_blue_20_approx,0 1px 5px 0 $color_picton_blue_12_approx;
			&.focus {
				@extend %extend_31;
			}
			&:focus {
				@extend %extend_31;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: 0 14px 26px -12px $color_picton_blue_42_approx,0 4px 23px 0 $black_12,0 8px 10px -5px $color_picton_blue_20_approx;
			}
			&:hover {
				@extend %extend_31;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: 0 14px 26px -12px $color_picton_blue_42_approx,0 4px 23px 0 $black_12,0 8px 10px -5px $color_picton_blue_20_approx;
			}
			&.active {
				@extend %extend_32;
				&.focus {
					@extend %extend_33;
				}
				&:focus {
					@extend %extend_33;
				}
				&:hover {
					@extend %extend_33;
				}
			}
			&:active {
				@extend %extend_32;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: 0 14px 26px -12px $color_picton_blue_42_approx,0 4px 23px 0 $black_12,0 8px 10px -5px $color_picton_blue_20_approx;
				&.focus {
					@extend %extend_33;
				}
				&:focus {
					@extend %extend_33;
				}
				&:hover {
					@extend %extend_33;
				}
			}
			&.disabled {
				&.focus {
					background-color: $color_picton_blue_approx;
					border-color: $color_picton_blue_approx;
				}
				&:focus {
					background-color: $color_picton_blue_approx;
					border-color: $color_picton_blue_approx;
				}
				&:hover {
					background-color: $color_picton_blue_approx;
					border-color: $color_picton_blue_approx;
				}
			}
			&:disabled {
				&.focus {
					background-color: $color_picton_blue_approx;
					border-color: $color_picton_blue_approx;
				}
				&:focus {
					background-color: $color_picton_blue_approx;
					border-color: $color_picton_blue_approx;
				}
				&:hover {
					background-color: $color_picton_blue_approx;
					border-color: $color_picton_blue_approx;
				}
			}
			&.btn-link {
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: none;
				background-color: transparent;
				color: $color_picton_blue_approx;
				&:active {
					background-color: transparent;
					color: $color_picton_blue_approx;
				}
				&:focus {
					background-color: transparent;
					color: $color_picton_blue_approx;
				}
				&:hover {
					background-color: transparent;
					color: $color_picton_blue_approx;
				}
			}
		}
	}
}
.open > .dark-edition .btn {
	&.dropdown-toggle {
		@extend %extend_7;
		&.focus {
			@extend %extend_8;
		}
		&:focus {
			@extend %extend_8;
		}
		&:hover {
			@extend %extend_8;
		}
		&.bmd-btn-icon {
			color: inherit;
			background-color: $color_manatee_approx;
			&:hover {
				background-color: $color_regent_gray_approx;
			}
		}
	}
	&.btn-default.dropdown-toggle {
		@extend %extend_7;
		&.focus {
			@extend %extend_8;
		}
		&:focus {
			@extend %extend_8;
		}
		&:hover {
			@extend %extend_8;
		}
		&.bmd-btn-icon {
			color: inherit;
			background-color: $color_manatee_approx;
			&:hover {
				background-color: $color_regent_gray_approx;
			}
		}
	}
	&.btn-primary.dropdown-toggle {
		@extend %extend_11;
		&.focus {
			@extend %extend_12;
		}
		&:focus {
			@extend %extend_12;
		}
		&:hover {
			@extend %extend_12;
		}
		&.bmd-btn-icon {
			color: inherit;
			background-color: $color_vivid_violet_approx;
			&:hover {
				background-color: $color_vivid_violet_approx;
			}
		}
	}
	&.btn-warning.dropdown-toggle {
		@extend %extend_14;
		&.focus {
			@extend %extend_15;
		}
		&:focus {
			@extend %extend_15;
		}
		&:hover {
			@extend %extend_15;
		}
		&.bmd-btn-icon {
			color: inherit;
			background-color: $color_chilean_fire_approx;
			&:hover {
				background-color: $color_christine_approx;
			}
		}
	}
	&.btn-success.dropdown-toggle {
		@extend %extend_17;
		&.focus {
			@extend %extend_18;
		}
		&:focus {
			@extend %extend_18;
		}
		&:hover {
			@extend %extend_18;
		}
		&.bmd-btn-icon {
			color: inherit;
			background-color: $color_eucalyptus_approx;
			&:hover {
				background-color: $color_lochinvar_approx;
			}
		}
	}
	&.btn-danger.dropdown-toggle {
		@extend %extend_20;
		&.focus {
			@extend %extend_21;
		}
		&:focus {
			@extend %extend_21;
		}
		&:hover {
			@extend %extend_21;
		}
		&.bmd-btn-icon {
			color: inherit;
			background-color: $color_persian_red_approx;
			&:hover {
				background-color: $color_alizarin_crimson_approx;
			}
		}
	}
	&.btn-info.dropdown-toggle {
		@extend %extend_23;
		&.focus {
			@extend %extend_24;
		}
		&:focus {
			@extend %extend_24;
		}
		&:hover {
			@extend %extend_24;
		}
		&.bmd-btn-icon {
			color: inherit;
			background-color: $color_bondi_blue_approx;
			&:hover {
				background-color: $color_bondi_blue_approx;
			}
		}
	}
	&.btn-white.dropdown-toggle {
		@extend %extend_26;
		&.focus {
			@extend %extend_27;
		}
		&:focus {
			@extend %extend_27;
		}
		&:hover {
			@extend %extend_27;
		}
		&.bmd-btn-icon {
			color: inherit;
			background-color: $white;
			&:hover {
				background-color: $color_black_haze_approx;
			}
		}
	}
	&.btn-facebook.dropdown-toggle {
		@extend %extend_29;
		&.focus {
			@extend %extend_30;
		}
		&:focus {
			@extend %extend_30;
		}
		&:hover {
			@extend %extend_30;
		}
		&.bmd-btn-icon {
			color: inherit;
			background-color: $color_azure_approx;
			&:hover {
				background-color: $color_chambray_approx;
			}
		}
	}
	&.btn-twitter.dropdown-toggle {
		@extend %extend_32;
		&.focus {
			@extend %extend_33;
		}
		&:focus {
			@extend %extend_33;
		}
		&:hover {
			@extend %extend_33;
		}
		&.bmd-btn-icon {
			color: inherit;
			background-color: $color_picton_blue_approx;
			&:hover {
				background-color: $color_picton_blue_approx;
			}
		}
	}
}
.show > .dark-edition .btn {
	&.dropdown-toggle {
		@extend %extend_7;
		&.focus {
			@extend %extend_8;
		}
		&:focus {
			@extend %extend_8;
		}
		&:hover {
			@extend %extend_8;
		}
	}
	&.btn-default.dropdown-toggle {
		@extend %extend_7;
		&.focus {
			@extend %extend_8;
		}
		&:focus {
			@extend %extend_8;
		}
		&:hover {
			@extend %extend_8;
		}
	}
	&.btn-primary.dropdown-toggle {
		@extend %extend_11;
		&.focus {
			@extend %extend_12;
		}
		&:focus {
			@extend %extend_12;
		}
		&:hover {
			@extend %extend_12;
		}
	}
	&.btn-warning.dropdown-toggle {
		@extend %extend_14;
		&.focus {
			@extend %extend_15;
		}
		&:focus {
			@extend %extend_15;
		}
		&:hover {
			@extend %extend_15;
		}
	}
	&.btn-success.dropdown-toggle {
		@extend %extend_17;
		&.focus {
			@extend %extend_18;
		}
		&:focus {
			@extend %extend_18;
		}
		&:hover {
			@extend %extend_18;
		}
	}
	&.btn-danger.dropdown-toggle {
		@extend %extend_20;
		&.focus {
			@extend %extend_21;
		}
		&:focus {
			@extend %extend_21;
		}
		&:hover {
			@extend %extend_21;
		}
	}
	&.btn-info.dropdown-toggle {
		@extend %extend_23;
		&.focus {
			@extend %extend_24;
		}
		&:focus {
			@extend %extend_24;
		}
		&:hover {
			@extend %extend_24;
		}
	}
	&.btn-white.dropdown-toggle {
		@extend %extend_26;
		&.focus {
			@extend %extend_27;
		}
		&:focus {
			@extend %extend_27;
		}
		&:hover {
			@extend %extend_27;
		}
	}
	&.btn-facebook.dropdown-toggle {
		@extend %extend_29;
		&.focus {
			@extend %extend_30;
		}
		&:focus {
			@extend %extend_30;
		}
		&:hover {
			@extend %extend_30;
		}
	}
	&.btn-twitter.dropdown-toggle {
		@extend %extend_32;
		&.focus {
			@extend %extend_33;
		}
		&:focus {
			@extend %extend_33;
		}
		&:hover {
			@extend %extend_33;
		}
	}
}