// colors theme
$color_gradient_primary: linear-gradient(135deg, #F1E767, #FEB645);
$tab_text_color: #bdbdbd;

//colors general
$color_1: #333;
$color_2: #999;
$color_3: #fff;
$color_4: #3c4858;
$color_5: rgba(255, 255, 255, .8);
$color_6: rgba(255, 255, 255, .62);
$color_7: rgba(255, 255, 255, .7);
$color_8: #ff9800;
$color_9: #9c27b0;
$color_10: #f44336;
$color_11: #4caf50;
$color_12: #00bcd4;
$color_13: #e91e63;
$color_14: inherit;
$color_15: #606477;
$color_16: #8b92a9;
$color_17: #a9afbb d1;
$color_18: transparent;
$background_color_1: #fff;
$background_color_2: transparent;
$background_color_3: #999;
$background_color_4: inherit;
$border_color_1: rgba(255, 255, 255, .25);
$color_nobel_10_approx: hsla(0,0%,71%,.1);
$color_alto_approx: #ddd;
$black_6: rgba(0,0,0,.06);

$black_6: rgba(0, 0, 0, .06);
$alabaster: #fafafa;
$black_5: rgba(0, 0, 0, .05);
$black_7_5: rgba(0, 0, 0, .075);
$color_tropical_blue_approx: #c1e2fc;
$color_sail_approx: #a9d7fb;
$color_iron_approx: #d6d8db;
$color_ghost_approx: #c8cbcf;
$color_surf_crest_approx: #cde9ce;
$color_surf_approx: #bbe1bd;
$color_charlotte_approx: #b8ecf3;
$color_blizzard_blue_approx: #a2e6ef;
$color_lemon_chiffon_approx: #fff9c8;
$color_drover_approx: #fff6af;
$color_your_pink_approx: #fccac7;
$color_cornflower_lilac_approx: #fbb3af;
$color_romance_approx: #fdfdfe;
$color_athens_gray_approx: #ececf6;
$color_pumice_approx: #c6c8ca;
$color_silver_approx: #b9bbbe;
$color_shark_approx: #212529;
$color_tuna_approx: #32383e;
$color_abbey_approx: #495057;
$color_gallery_approx: #e9ecef;
$white_5: hsla(0, 0%, 100%, .05);
$white_7_5: hsla(0, 0%, 100%, .075);
$color_alto_approx: #ddd;
$color_mountain_mist_approx: #999;
$white_84: hsla(0, 0%, 100%, .84);
$white_54: hsla(0, 0%, 100%, .54);
$white_6: hsla(0, 0%, 100%, .06);
$color_alabaster_approx: #f9f9f9;
$color_wild_sand_approx: #f5f5f5;

//colors dark edition
$dark_edition_background: #616161;

//colors button
$color_steel_gray_approx: #1a2035;
$white: #fff;
$color_manatee_approx: #9095a2;
$color_manatee_14_approx: hsla(223,9%,60%,.14);
$color_manatee_20_approx: hsla(223,9%,60%,.2);
$color_manatee_12_approx: hsla(223,9%,60%,.12);
$color_regent_gray_approx: #888d9b;
$color_storm_gray_approx: #707685;
$color_scarpa_flow_approx: #515661;
$black_12: rgba(0,0,0,.12);
$color_manatee_42_approx: hsla(223,9%,60%,.42);
$color_vivid_violet_approx: #913f9e;
$color_vivid_violet_14_approx: rgba(145,63,158,.14);
$color_vivid_violet_20_approx: rgba(145,63,158,.2);
$color_vivid_violet_12_approx: rgba(145,63,158,.12);
$color_eminence_approx: #692e72;
$color_grape_approx: #3d1b43;
$color_vivid_violet_42_approx: rgba(145,63,158,.42);
$color_chilean_fire_approx: #f5700c;
$color_chilean_fire_14_approx: rgba(245,112,12,.14);
$color_chilean_fire_20_approx: rgba(245,112,12,.2);
$color_chilean_fire_12_approx: rgba(245,112,12,.12);
$color_christine_approx: #e8690a;
$color_rose_of_sharon_approx: #bc5508;
$color_red_beech_approx: #7c3805;
$color_chilean_fire_42_approx: rgba(245,112,12,.42);
$color_eucalyptus_approx: #288c6c;
$color_eucalyptus_14_approx: rgba(40,140,108,.14);
$color_eucalyptus_20_approx: rgba(40,140,108,.2);
$color_eucalyptus_12_approx: rgba(40,140,108,.12);
$color_lochinvar_approx: #2b9875;
$color_green_pea_approx: #1a5c47;
$color_bush_approx: #0c2920;
$color_eucalyptus_42_approx: rgba(40,140,108,.42);
$color_persian_red_approx: #d22824;
$color_red_orange_approx: #f44336;
$color_persian_red_14_approx: rgba(210,40,36,.14);
$color_persian_red_20_approx: rgba(210,40,36,.2);
$color_persian_red_12_approx: rgba(210,40,36,.12);
$color_alizarin_crimson_approx: #db2f2b;
$color_scarlet_approx: #e11b0c;
$color_totem_pole_approx: #a21309;
$color_persian_red_42_approx: rgba(210,40,36,.42);
$color_bondi_blue_approx: #029eb1;
$color_bondi_blue_14_approx: rgba(2,158,177,.14);
$color_bondi_blue_20_approx: rgba(2,158,177,.2);
$color_bondi_blue_12_approx: rgba(2,158,177,.12);
$color_mosque_approx: #016874;
$color_daintree_approx: #012d33;
$color_bondi_blue_42_approx: rgba(2,158,177,.42);
$white_14: hsla(0,0%,100%,.14);
$white_20: hsla(0,0%,100%,.2);
$white_12: hsla(0,0%,100%,.12);
$color_black_haze_approx: #f7f7f7;
$color_bon_jour_approx: #e0e0e0;
$color_silver_approx: #bfbfbf;
$white_42: hsla(0,0%,100%,.42);
$color_azure_approx: #3b5998;
$color_azure_14_approx: rgba(59,89,152,.14);
$color_azure_20_approx: rgba(59,89,152,.2);
$color_azure_12_approx: rgba(59,89,152,.12);
$color_chambray_approx: #37538d;
$color_rhino_approx: #2a3f6c;
$color_big_stone_approx: #17233c;
$color_azure_42_approx: rgba(59,89,152,.42);
$color_picton_blue_approx: #55acee;
$color_picton_blue_14_approx: rgba(85,172,238,.14);
$color_picton_blue_20_approx: rgba(85,172,238,.2);
$color_picton_blue_12_approx: rgba(85,172,238,.12);
$color_dodger_blue_approx: #1d91e8;
$color_denim_approx: #126db2;
$color_picton_blue_42_approx: rgba(85,172,238,.42);