// Variables
// --------------------------

$font-path:			"../fonts" !default;
$font-size-base:	14px !default;
$font-weight:		400;
$line-height-base:	1 !default;
$version:			"1.0.0" !default;
$css-prefix:		icon;